@tailwind base;
@tailwind components;
@tailwind utilities;


.react-calendar {
    @apply border text-xs text-neutral-4 font-['Rubik'] 
           px-4 py-4 items-start h-full !important
}
.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    @apply bg-limegreen-4 !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    @apply bg-limegreen-1 text-black !important;
}

.react-calendar__month-view__days__day--weekend {
    @apply text-black !important;
}

.react-calendar__month-view__weekdays__weekday {
    @apply text-xs !important;
}
abbr {
    @apply no-underline;
  }
